* {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header {

    background: rgba(255, 144, 14, 0.1);
}



nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

nav ul {
    display: flex;
    align-items: center;

}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}



.banner {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-top: 10;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn-primary {
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 24px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    line-height: 23px;
    text-align: center;
}

.banner-image {
    margin-top: 50px;
    margin: 0, 230px;
    margin-bottom: 45px;
}

.container {
    margin-top: 85px;
    display: flex;
    align-items: center;
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    border-radius: 8px;
    justify-content: center;
}

.grey-txt {
    color: #727272;
    font-weight: 500;
    line-height: 53px;
}

.black-txt {
    color: #131313;
}

.Orange-txt {
    color: #FF900E;

}

.quick-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.quick {
    margin-left: 73px;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.features {
    margin-bottom: 30px;
}

.box {

    display: grid;
    grid-template-columns: repeat(1, 580px);
    grid-row-gap: 20px;
    justify-content: center;


}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.small-box {
    border: 2px solid white;
    border-radius: 5px;
    border: none;
    text-align: left;
    padding: 30px;
    background-color: white;
    box-shadow: 10px 10px 10px 0 grey;

}

.small-box-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.favourite {
    margin-top: 130px;
    margin: 0, 200px;
    display: flex;

}

.btn-secondary {
    height: 200px;
    width: 360px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 40px 42px;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    border: 0;
    text-align: center;
}

.mini {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

#btn-secondary-box {
    position: absolute;
    top: 3000px;
    right: 400px;
}
/* fact  */
.fact {
    margin-top: 143Px;
    margin-left: 240px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;


}

.experiences {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.experience {

    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 220px;
    height: 220px;
    align-items: center;
    padding: 35px, 35px;
}

ul li {
    list-style: none;
}

.number {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    padding: 100px, 70px;
    text-align: center;
}

.price {
    color: #727272;
    font-weight: 600;

}
/* sponsers  */
.sponsership {
    margin-top: 180px;

}


.sponser-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 24px;
}

.sponser-description {
    color: #727272;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}
/* company  */
.global-sponsor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
/* last  */
.final {
    margin-top: 130px;
    margin-left: 250px;
    margin-bottom: 120px;
    background: #FFF4E7;
    border-radius: 8px;
    width: 1100px;
    height: 100px;
    border: none;
}

.final-description {
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 40px 400px;
}